[data-menu="array"], [data-menu="array"] ul {
  margin: 0px;
  padding: 0px; }
  [data-menu="array"] li, [data-menu="array"] ul li {
    list-style-type: none; }
    [data-menu="array"] li a, [data-menu="array"] ul li a {
      color: #007bff;
      font-size: 20px;
      line-height: 22px;
      font-family: "Segoe UI", "Helvetica Neue";
      white-space: nowrap;
      text-decoration: none; }
    [data-menu="array"] li a:hover, [data-menu="array"] ul li a:hover {
      text-decoration: none;
      color: #50ea46; }

[data-menu="array"] .hover-non, [data-menu="array"] .menu-toggler {
  display: none; }

[data-menu="array"] {
  display: flex;
  background-color: white;
  border: 1px solid #a7e88b !important;
  margin: 20px 5px 0px 5px;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 11; }
  [data-menu="array"] [data-menu_item_level_1="container"] {
    padding: 5px 10px 5px 10px;
    position: relative; }
    [data-menu="array"] [data-menu_item_level_1="container"] > ul {
      position: absolute;
      left: 0px;
      top: 106%;
      background-color: white;
      z-index: 10;
      border: 1px solid #a7e88b !important; }
    [data-menu="array"] [data-menu_item_level_1="container"] > ul:before {
      content: "";
      width: 100%;
      height: 15px;
      position: absolute;
      top: -7px;
      left: 0px; }
  [data-menu="array"] [data-menu_item_level_2="container"] {
    position: relative;
    padding: 5px 5px 5px 5px; }
    [data-menu="array"] [data-menu_item_level_2="container"] > ul {
      position: absolute;
      left: 102%;
      top: 0px;
      border: 1px solid #a7e88b !important;
      background-color: white; }
    [data-menu="array"] [data-menu_item_level_2="container"] > ul:before {
      content: "";
      width: 15px;
      height: 100%;
      position: absolute;
      top: 0px;
      left: -7px; }
  [data-menu="array"] [data-menu_item_level_3="container"] {
    padding: 5px 5px 5px 5px;
    positiont: relative; }
  [data-menu="array"] [data-menu_item_level_3_img="container"] {
    padding: 5px 5px 5px 5px;
    position: relative;
    display: flex; }
    [data-menu="array"] [data-menu_item_level_3_img="container"] img {
      height: 20px;
      margin-right: 5px;
      padding-bottom: 4px; }

@media (max-width: 600px) {
  [data-menu="array"] {
    display: block;
    width: 50%; }
    [data-menu="array"] .menu-toggler {
      display: block;
      padding: 5px 5px 5px 9px;
      color: #007bff;
      font-size: 20px;
      line-height: 22px; }
    [data-menu="array"] [data-menu_item_level_1="container"] {
      padding: 5px 5px 5px 9px;
      position: static;
      display: none; }
      [data-menu="array"] [data-menu_item_level_1="container"] > ul {
        position: static;
        border: none !important; }
      [data-menu="array"] [data-menu_item_level_1="container"] > ul:before {
        content: "";
        width: 0%;
        height: 0px;
        position: static;
        top: 0px;
        left: 0px; }
    [data-menu="array"] [data-menu_item_level_2="container"] {
      padding: 5px 5px 5px 9px;
      background-color: #eff5f7;
      position: static;
      display: block; }
      [data-menu="array"] [data-menu_item_level_2="container"] > ul {
        position: static;
        border: none !important; }
      [data-menu="array"] [data-menu_item_level_2="container"] > ul:before {
        content: "";
        width: 0px;
        height: 0%;
        position: static; }
    [data-menu="array"] [data-menu_item_level_3="container"], [data-menu="array"] [data-menu_item_level_3_img="container"] {
      padding: 5px 5px 5px 9px;
      background-color: #b8d9e4; } }

.main-content {
  margin-top: 60px; }
